*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: sans-serif;
  }

#main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}  

#square{
  width: 200px;
  height: 200px;
  background-color: rgb(0,0,0);
  border: 2px solid rgb(0,0,0);
  margin-top: 30px;
}

.input-container{
  display: flex;
  flex-direction: row;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  margin-top: 10px;
}

.slider{
  -webkit-appearance: none;
  width: 200px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.value{
  -webkit-appearance: none;
  width: 200px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

